tap "fluxcd/tap"
tap "homebrew/bundle"
tap "hashicorp/tap"
tap "siderolabs/tap"

brew "age"
brew "atuin"
brew "autojump"
brew "awk"
brew "bash"
brew "ca-certificates"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "docker"
brew "docker-completion"
brew "docker-compose"
brew "fluxcd/tap/flux"
brew "git"
brew "helm"
brew "helmfile"
brew "helm-docs"
brew "helm-ls"
brew "httpie"
brew "jq"
brew "k6"
brew "k9s"
brew "kotlin"
brew "krew"
brew "kubernetes-cli"
brew "kubectx"
brew "kubecm"
brew "kubecolor"
brew "kustomize"
brew "make"
brew "maven"
brew "minijinja-cli"
brew "mise"
brew "neovim"
brew "mkcert"
brew "nmap"
brew "openfga"
brew "openjdk"
brew "pipx"
brew "pre-commit"
brew "ripgrep"
brew "rustup"
brew "shellcheck"
brew "sops"
brew "speedtest-cli"
brew "starship"
brew "talosctl"
brew "talhelper"
brew "telnet"
brew "vault"
brew "vault-cli"
brew "wget"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-completions"
brew "fish"
brew "fisher"

cask "google-cloud-sdk"
cask "meta"
cask "mono-mdk"
